---
import '../styles/global.css';
const pageTitle="THE BLOG";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');

---

	<BaseLayout pageTitle={pageTitle}>
        <h2>Things that were written</h2>
        <p>Lots of words that i have written, lots of writting that was done!</p>
        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
  		</ul>
        </ul>
	</BaseLayout>
		
