---
const platform = "github";
const username = "withastro";
import Social from '../components/Social.astro'
---

<footer>
 <p>Aaron Endsley 2023</p>
 <Social platform="twitter" username="aaronendsleydev"/>
</footer>